/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "fuente";
  src: url("../font/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  /* background-color: pink; */
  /* background-color: pink;
  width: 1200px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px; */
}

header {
  /* background-color: green; */
  height: 100vh;
}

nav {
  background-color: white;
  height: 10vh;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  font-size: 13px;
}

.logo {
  width: 15%;
}

ul {
  display: flex;
  gap: 35px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-family: fuente;
  letter-spacing: 5px;
}

.slider {
  background: url(../img/desktop/perro.webp);
  background-size: cover;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
}

.primer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primer-section .texto-primer-section {
  width: 1200px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.primer-section .texto-primer-section h5 {
  font-size: 13px;
  text-transform: uppercase;
  font-family: fuente;
  letter-spacing: 5px;
  margin-top: 50px;

}

.primer-section .texto-primer-section h6 {
  font-size: 45px;
  font-weight: 300;
}

.linia {
  background-color: black;
  width: 0.5px;
  height: 80px;
  margin-top: 10px;
}

.galeria {
  display: flex;
  justify-content: center;
}

.galeria-fotos {
  width: 1000px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  grid-template-areas:
    "one one two"
    "one one four"
    "three five four"
    "three six six"
    "seven six six";
}

.flores {
  grid-area: one;
}

.jarron {
  grid-area: two;
}

.emily-scott {
  grid-area: three;
}

.escaparate {
  grid-area: four;
  height: -webkit-fill-available;

}

.gif {
  grid-area: five;
}

.fachada {
  grid-area: six;
}

.estanteria {
  grid-area: seven;
}

.work-with-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-with-us .texto-segundo-section {
  width: 1200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.work-with-us .texto-segundo-section h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
  font-weight: 300;
}

.work-with-us .texto-segundo-section h6 {
  font-size: 20px;
  font-weight: 300;
}

.work-with-us .texto-segundo-section .btn {
  width: 220px;
  border: 2px solid grey;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: grey;
  font-family: fuente;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F5F0;
}

.footer-interior {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  max-width: 1200px;
  padding: 50px 0px 50px 0px;
  text-align: center;
}

.more,
.legal,
.social {
  display: flex;
  flex-direction: column;
}

.more a,
.legal a,
.social a {
  text-decoration: none;
  color: black;
}

.footer-logo {
  width: 100px;
}

.footer-bottom {
  width: 1000px;
  max-width: 1200px;
  padding-top: 50px;
  text-align: center;
  border-top: 0.5px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  font-style: italic;
}